body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  position:absolute;
  left:0px;
  top:-67px;
  width:375px;
  height:667px;
}
#u236 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:19px;
}
#u237 {
  position:absolute;
  left:8px;
  top:-66px;
  width:359px;
  height:19px;
}
#u238 {
  position:absolute;
  left:2px;
  top:2px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u239 {
  position:absolute;
  left:0px;
  top:-48px;
  width:375px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u240 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u241 {
  position:absolute;
  left:336px;
  top:-37px;
  width:26px;
  height:26px;
}
#u242 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u243 {
  position:absolute;
  left:36px;
  top:-33px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:53px;
}
#u245 {
  position:absolute;
  left:164px;
  top:64px;
  width:48px;
  height:53px;
}
#u246 {
  position:absolute;
  left:2px;
  top:18px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u247 {
  position:absolute;
  left:116px;
  top:135px;
  width:150px;
  height:27px;
  font-size:12px;
  text-align:center;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u249 {
  position:absolute;
  left:15px;
  top:-32px;
  width:21px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u250 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:0px;
  top:-41px;
  width:112px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
